<div class="row">
    <div class="col-md-6 description" >
        <p>Change the theme and see the charts update, apply your own theme with <code>chart.applyTheme(theme)</code></p>
        <p>See <a href="InsightJS/dist/docs/insight.Chart.html##applyTheme" target="_blank">API Docs</a> for more details</p>
        <div>
            <div>
                <h4>
                    <strong>Theme</strong>
                </h4>
            </div>
            <div class="btn-group">
                <button id="light-theme" type="button" class="btn btn-default btn-sm">Light Theme</button>
                <button id="warm-theme" type="button" class="btn btn-default btn-sm">Warm Theme</button>
            </div>
        </div>
    </div>

    <div id="league" class="exampleChart col-md-6"></div>
    <div id="regions" class="exampleTable col-md-4"></div>
</div>
