<div class="row">
    <div class="col-md-6 description" >
        <p>Change the theme and see the charts update</p>
        <div>
            <div>
                <h4>
                    <strong>Theme</strong>
                </h4>
            </div>
            <div class="btn-group">
                <button id="light-theme" type="button" class="btn btn-default btn-sm">Light Theme</button>
                <button id="warm-theme" type="button" class="btn btn-default btn-sm">Warm Theme</button>
            </div>
        </div>
    </div>

    <div id="league" class="exampleChart col-md-6"></div>
    <div id="regions" class="exampleTable col-md-4"></div>
</div>
